<%= nested_form_for(@question) do |f| %>

<% if @question.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@question.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
	<%= f.label :question %><br />
	<%= f.text_field :content %><br />
	
	<%= f.label :description %><br />
	<%= f.text_field :description %><br />
	<%= f.label :topic_names %><br />
	<%= f.text_field :topic_names %>
	<%= f.submit %><br />
<% end %>