<% unless current_user %>
	<div class="container">
<% end %>
	<div id="question_container">	
		<div id="topics">
			<h2>Topics:</h2>
			<div class="topic_container">
				<ul class ="question_topics">
					<% for topics in @question.topics %>
						<li>
							<%=h link_to topics.name %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	
		<div id="question">
			<h1>
			  <%=h @question.content %>
			</h1>
			<p id="q_description">
			  <%=h @question.description %>
			</p>
				<% if !current_user.nil? && current_user.id ==  @question.user.id %>
				<p>
					<%= link_to 'Edit', edit_question_path(@question) %>
				</p>
				<% end %>
				<div class="socialshare">
					<ul id="socialshare">
						<li class="sharetext">
							<b>Share With Friends</b>
						</li>
						<li>
							<div id="fb-root"></div><fb:like href="" send="true" layout="button_count" width="100" show_faces="false" font="lucida grande"></fb:like>
						</li>
						<li class="gplus">
							<g:plusone size="medium"></g:plusone>	
						</li>
						<li class="twitter">
							<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
						</li>
					</ul>
				</div>
		</div><div class="clear"></div>
	
		<div id="answer">
			<h2>Answers:</h2>
			<div id="answers_container">
				<div id="something">
					<% @question.answers.each do |answer| %>
					<div class="single_answer_container">
						<div class="user">
							<%= image_tag answer.user.picture, :size => "25x25" %>
						</div>
						<p class="user_name">
							<%= answer.user.name %>
						</p>
						<div class="single_answer">
							<%= raw sanitize(simple_format(answer.content, :class=> 'psafeanswer'), :tags => %w(strong em b i hr br ul ol li blockquote p) ) %>
							<% if !current_user.nil? && answer.user.id == current_user.id %>
								<p>
									<%= link_to "Edit Answer", answer_edit_path(answer) %>
									<%= link_to "Delete Comment", question_answer_path(@question,answer), :confirm => 'Are you sure?', :method => :delete %>
								</p>
							<% end %>
						</div>
						<div class="vote_container">	
							<p class="vote_up">
								<%= link_to image_tag("vote_up2.png"), question_answer_vote_up_path(@question, answer), :method => :put %>
							</p>
							<p class="vote_count"><%= answer.count %></p>
							<p class="vote_down">
								<%= link_to image_tag("vote_down2.png"), question_answer_vote_down_path(@question, answer), :method => :put %>
							</p>
						</div>
						<div class="clear"></div>
					</div><!-- .single_answer_container -->
						<% end %>
				</div>
			</div>
		</div>
		<div id="answer_box">
			<h4>Your Answer:</h4>
			<%= form_for :answer, :url => question_answers_path(@question) do |f| %>
				<%= f.text_area :content, :cols => 80, :rows => 10 %>
				<%= comment_button_tag "Submit Response"%>
			<% end %>
		</div>
		<%# link_to 'Home', root_path %>
		
	</div><!-- #question_container -->
	<div id="toprightbox">
		<p>
			Question Owner
		</p>
		<div id="profileimage">
			<%= image_tag @question.user.picture %>
		</div>
		<div id="profileabout">
			<p>
				<%= @question.user.name %>
			</p>
			<p>
				A short blurb about them. Something that they are interested in and other stuff.
			</p>
		</div>
	</div>
</div>
<div class="clear"></div>

<script src="http://connect.facebook.net/en_US/all.js#appId=233421873346550&amp;xfbml=1"></script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
	$("#fb_like").attr("href") = encodeURIComponent(window.location);
	$(".twitter-share-button").attr("data-url") = encodeURLComponent(window.location);
	});
</script>