<p>
  <b>Question:</b>
  <%= @question.content %>
</p>
 
<p>
  <b>Description:</b>
  <%= @question.description %>
</p>
 
<p>
  <b>Comments:</b>
  To be implemented
</p>

<p>
	<% for topics in @question.topics %>
	<li>
		<%=h topics.name %>
	</li>
	<% end %>
</p>
 
 
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', home_show_path %>