<% title @question.content %>
<% description @question.description %>
<% unless current_user %>
	<div class="container">
<% end %>
	<div id="question_container">	
		<div id="topics">
			<h2>Topics:</h2>
			<div class="topic_container">
				<ul class ="question_topics">
					<% for topic in @question.topics %>
						<li>
							<%=h link_to topic.name.titleize, show_topic_path(topic.name, topic) %>
						</li>
					<% end %>
				</ul>
			</div>
		</div><div class="clear"></div>
	
		<div id="question">
			<h1>
			  <%=h @question.content %>
			</h1>
			<p id="q_description">
			  <%=h @question.description %>
			</p>
				<% if !current_user.nil? && current_user.id ==  @question.user.id %>
				<p>
        <%= link_to 'Edit', edit_question_path(@question), :class => "edit"%>
				</p>
				<% end %>
				<div class="socialshare">
					<ul id="socialshare">
						<li class="sharetext">
							<b>Share With Friends</b>
						</li>
						<li>
							<div id="fb-root"></div>
							<fb:like href="" send="true" layout="button_count" width="100" show_faces="false" font="lucida grande"></fb:like>
						</li>
						<li class="gplus">
							<g:plusone size="medium"></g:plusone>	
						</li>
						<li class="twitter">
							<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a>
						</li>
					</ul>
				</div>
		</div><div class="clear"></div>
	
		<div id="answer">
      <h2>Answers:</h2>
        <span class="tip_up">Click here to vote up</span> 
        <span class="tip_down">Click here to vote down</span><br />
			<div id="answers_container">
					<% @question.answers.each do |answer| %>
						<%= render :partial => answer %>
					<% end %>
        </div>
		</div>
		<div id="answer_box">
			<h4>Your Answer:</h4>
			<%= form_for :answer, :url => question_answers_path(@question), :remote => true do |f| %>
				<%= f.text_area :content, :cols => 80, :rows => 10 %>
				<%= comment_button_tag "Submit Response"%>
			<% end %>
		</div>
		<%# link_to 'Home', root_path %>
		
	</div><!-- #question_container -->
	<div id="toprightbox">
		<p>
			<h3>Question Owner</h3>
		</p>
		<div id="profileimage">
			<%= image_tag @question.user.picture %>
		</div>
		<div id="profileabout">
			<p>
				<%= @question.user.name %>
			</p>
			<p>
				<%= @question.user.description %>
			</p>
    </div><div class="clear"></div>
    <div id="votingabout">
      <h3>Vote for your favorites!</h3>
    <p>
        Support the answers you like by voting for them.
    </p>
  </div>

  </div>
</div>
<div class="clear"></div>
