<h1> Welcome Sign up</h1>
<%= form_for("user", :url => user_registration_path) do |f| %>
  <label>Email: </label><%= f.text_field :email %><br />
  <label>Password:</label> <%= f.password_field :password %><br />
  <label>Password Confirmation: </label><%= f.password_field :password_confirmation %><br />
  <%= f.submit 'Sign up' %>
<% end %>

