<% title current_user.name %>
<h1>
	These are your questions <%= current_user.name %>
</h1>
<%= settings_button_link_to "Edit Profile", edit_user_registration_path %>

<% @user_questions.each do |question| %>
	<div class="question">
		<div class="question_image">
			<%= image_tag question.user.picture %>
		</div>
		<div class="question_content">
			<%= link_to question.content, show_question_path(question.normalized_name, question) %><br />
			<%= question.description %>
		</div>
	</div><div class="clear"></div>	
<% end %>