
<h2>Sign up</h2>
<% 	if  session["devise.facebook_data"]
	user_name = session["devise.facebook_data"]['user_info']['first_name'] + " " + session["devise.facebook_data"]['user_info']['last_name']
	user_email = session["devise.facebook_data"]['user_info']['email']
	picture_url = session["devise.facebook_data"]['user_info']['image']
	@token = session["devise.facebook_data"]['credentials']['token']
	@graph = Koala::Facebook::GraphAPI.new(session["devise.facebook_data"]['credentials']['token'])
	@friends = @graph.get_connections("me", "friends")
else
	user_name = ""
	user_email = ""
	#@friends = []
end
%>
<div id="signup">
	<div class="regular">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="singleField"><label>Name</label><%= f.text_field :name , :value => user_name%></div>
  <div class="singleField"><label>Email</label><%= f.text_field :email, :value => user_email %></div>
  <div class="singleField"><label>Password</label> <%= f.password_field :password %></div>
  <div class="singleField submit"><%= positive_button_submit_tag 'Sign up' %></div>
  <div class="clear"></div>
<% end %>
</div>
</div>
<div id="image">
	<%= image_tag picture_url, :class => "profile_picture" unless picture_url == nil %>
	<p class="friendname"><%= user_name %></p>
</div>
<div id="friends">
	<h4>Friends</h4>
	<% unless @friends.nil? %>
		<% @friends.each do |friend| %>
			<% profile_picture = "http://graph.facebook.com/"+friend['id']+"/picture?type=square" %>
			<% user = User.find_by_uid(friend['id']) %>
			<% if user %>
				<div class= "friends">
				<%= image_tag profile_picture %>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>
<%# render :partial => "devise/shared/links" %>
