<div id="question_container">	
	<div id="askquestion">
		<%= add_button_link_to "Ask A Question" , new_question_path %>
	</div>
	<h1>Share what you know. Answer new questions.</h1>
	<% @questions.each do |question| %>
		<div class="question">
			<div class="question_image">
				<%= image_tag question.user.picture %>
			</div>
			<div class="question_content">
				<%= link_to question.content, show_question_path(question.normalized_name, question) %><br />
        <% if question.description.empty? %>
          <br />
        <% else %>
          <%= question.description %>
        <% end %>
        <p class="asked">
        Asked by: <%= question.user.name %> | <%= question.answers.length %> responses
        </p>
      </div>
		</div><div class="clear"></div>	
	<% end %>
	<div id="attach">
	</div>
</div>
	<div id="toprightbox">
		<h2 id="boxtopics">Top Topics</h2>
		<div class="topic_container">
			<ul class ="all_topics">
				<% @topics.each do |topic|%>
					<li>
						<%= link_to topic.name.titleize, show_topic_path(topic.name, topic) %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>	
<div class="clear"></div>
<div id="paginate">
	<%# link_to "Load more", "#", :class => "next" %>
	<%= paginate @questions %>
</div><div class="clear"></div>

