
<h1>These are your questions <%= current_user.name %></h1>

<% @user_questions.each do |questions| %>
	<p>
		<%= link_to questions.content , show_question_path(questions, :name => questions.normalized_name) %>
	</p>
	<p>
		<%= questions.description %>
	</p>
	<p>
		Topics:
		<% for topic in questions.topics %>
		<li>
			<%= h topic.name %>
		</li>
		<% end %>
		
	</p>
<% end %>

<h1>All Topics</h1>
<% @topics.each do |topic| %>
	<p>
		<%= topic.name %>
		<% topic.questions.each do | name| %>
		<%= link_to name.content, show_question_url(name, :name => name.normalized_name) %>
		<% end %>
	</p>
<% end %>