<h1>These are your questions <%= current_user.name %></h1>

<% @user_questions.each do |questions| %>
	<p>
		<%= questions.content %>
		<%= link_to questions.content, questions %>
		<%= link_to questions.content , show_post_path(questions, :name => questions.normalized_name) %>
	</p>
	<p>
		<%= questions.description %>
	</p>
	
<% end %>