<div class="single_answer_container" id="answer_<%= answer.id %>">
	<div class="user">
		<%= image_tag answer.user.picture, :size => "25x25" %>
	</div>
	<p class="user_name user_path">
		<%= link_to answer.user.name, show_user_path(answer.user.name, answer.user.id) %>
	</p>
	<div class="single_answer">
		<%= raw sanitize(auto_link(simple_format(answer.content, :class=> 'psafeanswer'), :tags => %w(strong em b i hr br ul ol li blockquote p) )) %>
		<% if !current_user.nil? && answer.user.id == current_user.id %>
			<p class="change_response">
      <%= link_to "Edit", answer_edit_path(answer), :class => "edit"%>
			<%= link_to "Delete", question_answer_path(@question,answer),:class => "delete",
				 :confirm => 'Are you sure?', :method => :delete, :remote => true %>
			</p>
		<% end %>
	</div>
	<div class="vote_container">	
		<p class="vote_up">
			<%= link_to image_tag("vote_up2.png"), question_answer_vote_up_path(@question, answer), :method => :put, :remote => true %>
		</p>
		<p class="vote_count" id="vote_id_<%= answer.id %>">
			<!-- <% x = 0 %>
			<% answer.votes.each do |vote|  %>
			<% x =+ vote.value %>
			<% end %>
			<%= x %> -->
			<%= answer.total_sum %>
		</p>
		<p class="vote_down">
			<%= link_to image_tag("vote_down2.png"), question_answer_vote_down_path(@question, answer), :method => :put, :remote => true %>
		</p>
	</div>
	<div class="clear"></div>
</div><!-- .single_answer_container -->
