<div id="five_center">	
	<%= form_for(@answer, :url => answer_edit_path) do |f| %>

	<% if @answer.errors.any? %>
	  <div id="errorExplanation">
	    <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this post from being saved:</h2>
	    <ul>
	    <% @answer.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	  <% end %>
		<%= f.label "Answer" %><br />
		<%= f.text_area :content, :size => "55x10" %><br />
		<%= add_button_tag "Save Answer" %><br />
	<% end %>
</div>