<!DOCTYPE html>
<html>
<head>
  <title>Mondai.me</title>
  <%= css3buttons_stylesheets %>
  <%= stylesheet_link_tag 'screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'print',  :media => 'print' %> 
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="topbar"><h1><%= link_to "Mondai", root_path , :class => :home%></h1></div>
  <div class="container">
    <header>
    </header>
    <% if notice  %>
      <p class="notice"><%= notice %></p>
    <% end %>
	<% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>

 </div>
</body>
</html>
