<!DOCTYPE html>
<html>
<head>
  <title>Mondai.me</title>
  <%= css3buttons_stylesheets %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="topbar">
	<div class="topnav_container">
		<h1><%= link_to "Mondai.me", root_path , :class => :home %></h1>
	
		<% if current_user %>
			<ul id="topnav">
				<li>
					<form action="<%= search_path %>" method="get" >
				    <%= text_field_tag :search, params[:search], :class => 'searchBox', :placeholder => "Search for a Question" %>
				</li>
				<li>
					<%= search_button_tag "Search", :name => nil, :class=> 'search' %>
				  </form>
				</li>
			</ul>
			<ul id="toplinks">
				<li>
					<%= link_to "Log Out", destroy_user_session_path %>
				</li>
				<li>
					<%= link_to "Profile", show_user_path(current_user.normalized_name) %>
				</li>
			</ul>
			<% else %>
				<ul id="topnav">
					<li><%= big_primary_button_link_to "Sign Up With Facebook", user_omniauth_authorize_path(:facebook), :class => "popupp", :"data-width" => 600, :"data-height" => 400 %></li>
					<li><a href="#" class="pu">Learn More Pop Up</a></li>
				</ul>
				<ul id="toplinks">
					<li>
						<%= primary_button_link_to "Log In With FB", user_omniauth_authorize_path(:facebook), :class => "popupp", :"data-width" => 600, :"data-height" => 400 %>
					</li>
				</ul>
		<% end %>
	</div>
</div>
<div class="clear"></div>
  <div class="container">
    <% if notice  %>
      <p class="notice"><%= notice %></p>
    <% end %>
	<% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>

 </div>
</body>
</html>
