<!DOCTYPE html>
<html>
<head>
  <title>Mondai</title>
  <%= stylesheet_link_tag 'screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'print',  :media => 'print' %>  
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <header>
    <%=  link_to "Sign in", new_user_session_path %>
    <%=  link_to "Sign out", destroy_user_session_path %>
    <%=  link_to "Sign up", new_user_registration_path %>    
    </header>
    <% if notice || alert %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>
   
    <%= yield %>

 </div>
</body>
</html>
